@media (min-width: 300px) and (max-width: 767.98px) {

    .card-mobile {

        width: auto !important;

    }

}

.card-desktop {

    width: 18rem;

}

.star-rating {

    width:15px;

    height:15px;

}

.product-table td {

    width: 230px;

    padding: 5px;
}
